<h1 align="center"><i>Создатели сайта</i></h1>
<div style="float: left" class="container1">
  <img src="../../../assets/40aUwjWcZ3w.jpg">
  <p><b>Прохоров Артём Васильевич</b>- тот, кто шарит в Back-end(е)</p>
  <p><i>e-mail: prokhorov.artem98@gmail.com</i></p>
</div>
<div style="float: right" class="container2">
  <img src="../../../assets/tgr3yabR4Mo.jpg">
  <p><b>Левченко Никита Олегович</b>- криворукое создание, ответственное за Front-End</p>
  <p><i>e-mail: nikita0levchenko@gmail.com</i></p>
</div>
