<div class="tournamentshow">
  <h2>
    {{tournament.name}}
  </h2>
  <br>
  <b>Дата начала проведения: </b><a>{{tournament.startDate}}</a>
  <br>
  <b>ID победителей турнира: </b><a>{{tournament.winnerId}}</a>
  <br>
  <b>Призовой фонд: </b><a>{{tournament.winnersPrize}} руб.</a>
  <br>
  <a>Список сыгранных матчей:</a>
  <br>
  <p>SimpleSas{{winId}}</p>
  <ul>
    <li *ngFor="let match of matches">
      <a
        [routerLink]="['/match', match.id]"
      > ID матча:
        {{match.id}}
      </a>
    </li>
  </ul>
</div>
