<div class="tournamentshow">
  <h2>
    {{tournament.name}}
  </h2>
  <br>
  <b>Дата начала проведения: </b><a>{{tournament.startDate}}</a>
  <br>
  <b>ID победителей турнира: </b><a>{{tournament.winnerId}}</a>
  <br>
  <b>Призовой фонд: </b><a>{{tournament.winnersPrize}} руб.</a>
  <br>
  <b>Список сыгранных матчей:</b>
  <br>
    <a *ngFor="let match of matches">
      <i><a [routerLink]="['/teams', match.team1Id]">{{match.first_team.name}}</a> vs <a [routerLink]="['/teams', match.team2Id]">{{match.second_team.name}}</a></i>
      <br>
      <i><a [routerLink]="['/match', match.id]">Счёт</a> {{match.points1}}:{{match.points2}}</i>
      <br>
    </a>
</div>
