<!DOCTYPE html>
<html>

<head>
  <title>Главная страница</title>
  <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-inverse sidebar navbar-position" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/logout">Выход</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="app-1" class="main">

  УРА, ГЛАВНАЯ СТРАНИЦА

</div>
<div>
  <h1>Создайте новость</h1>
  <form action="/api/news" method="post">
    <label>Заголовок</label><br>
    <input type="text" name="title"/><br><br>
    <label>Новость</label><br>
    <input type="text" name="text"/><br><br>
    <input type="submit" value="Создать"/>
  </form>
</div>
</body>
</html>
