<div class="teamshow">
<p>
  Информация о команде...{{id}}
</p>
  <br>
  <b>Название команды: {{team.name}}</b>
  <br>
  <p>Страна: {{team.country}}</p>
  <br>
  <b>Краткая история команды:</b>
  <br>
  <i>{{team.history}}</i>
  <br>
  <p>Любимая карта команды: {{team.favouriteMap}}</p>
  <br>
  <p>Выигрыш: {{team.amountOfPrizes}}</p>
  <br>
  <p>Дата дебюта: {{team.yearOfEstablishment}}</p>
  <br>
  <b>Список игроков:</b>
  <br>
  <ul>
    <li *ngFor="let player of players">
      <a
        [routerLink]="['/player', player.id, team.name]"
      >
        {{player.name}}
      </a>
    </li>
  </ul>
</div>
