<div class="teamshow">
<h2>
  {{team.name}}
</h2>
  <br>
  <b>Страна: </b><a>{{team.country}}</a>
  <br>
  <b>Краткая история команды:</b>
  <br>
  <i>{{team.history}}</i>
  <br>
  <b>Любимая карта команды: </b><a>{{team.favouriteMap}}</a>
  <br>
  <b>Выигрыш: </b><a>{{team.amountOfPrizes}}</a>
  <br>
  <b>Дата дебюта: </b><a>{{team.yearOfEstablishment}}</a>
  <br>
  <b>Список игроков:</b>
  <br>
  <ul>
    <li *ngFor="let player of players">
      <a
        [routerLink]="['/player', player.id]"
      >
        {{player.nickname}}
      </a>
    </li>
  </ul>
</div>
