<div class="playershow">
<h2>{{player.nickname}}</h2>
  <br>
  <b>Имя: </b><a>{{player.name}}</a>
  <br>
  <b>Фамилия: </b><a>{{player.surname}}</a>
  <br>
  <b>Дата рождения: </b><a>{{player.dateOfBirth}}</a>
  <br>
  <b>Страна: </b><a>{{player.country}}</a>
  <br>
  <b>Начало карьеры: </b><a>{{player.startOfCareer}}</a>
  <br>
  <b>Название команды: </b><a [routerLink]="['/teams', id]">{{teamName}}</a>
  <br>
  <b>WeaponId</b><a> //Не совсем понял что это</a>
  <br>
  <b>weapon_id</b><a> //И это...Наверное любимое оружие.</a>
</div>
