<div class="playershow">
  <h2>{{player[0].players[0].nickname}}</h2>
  <br>
  <b>Имя: </b><a>{{player[0].players[0].name}}</a>
  <br>
  <b>Фамилия: </b><a>{{player[0].players[0].surname}}</a>
  <br>
  <b>Дата рождения: </b><a>{{player[0].players[0].dateOfBirth}}</a>
  <br>
  <b>Страна: </b><a>{{player[0].players[0].country}}</a>
  <br>
  <b>Начало карьеры: </b><a>{{player[0].players[0].startOfCareer}}</a>
  <br>
  <b>Название команды: </b><a [routerLink]="['/teams', player[0].id]">{{player[0].name}}</a>
  <br>
  <b>Любимое оружие: </b><a [routerLink]="['/weapon', player[0].players[0].weapon.id]" >{{player[0].players[0].weapon.name}}</a>
</div>
