<div class="playershow">
<p>Информация об игроке... {{id}}</p>
  <br>
  <b>Имя: </b><p>{{player.name}}</p>
  <br>
  <b>Фамилия: </b><p>{{player.surname}}</p>
  <br>
  <b>Дата рождения: </b><p>{{player.dateOfBirth}}</p>
  <br>
  <b>Никнейм: </b><p>{{player.nickname}}</p>
  <br>
  <b>Страна: </b><p>{{player.country}}</p>
  <br>
  <b>Начало карьеры: </b><p>{{player.startOfCareer}}</p>
  <br>
  <b>ID команды: </b><p>{{player.teamId}}</p>
  <br>
  <b>Название команды:</b><a [routerLink]="['/teams', id]"> {{teamName}}</a>
  <br>
  <b>WeaponId</b><p> //Не совсем понял что это</p>
  <br>
  <b>weapon_id</b><p> //И это...Наверное любимое оружие.</p>
</div>
