<div class="showmatch">
  <div class="match">
  <h2>Информация о матче</h2>
  <br>
  <h3><a [routerLink]="['/teams', match.team1Id]">{{match.first_team.name}}</a> {{match.points1}}:{{match.points2}} <a [routerLink]="['/teams', match.team2Id]">{{match.second_team.name}}</a></h3>
  <br>
  <b>Победитель: </b><a [routerLink]="['/teams', match.winnerId]">{{match.win_team.name}}</a>
  <br>
  <b>Начало матча: </b><a>{{match.matchBegin}}</a>
  <br>
  <b>Конец матча: </b><a>{{match.matchEnd}}</a>
  <br>
  <b>Турнир: </b><a [routerLink]="['/tournaments', match.tournamentId]">{{match.tournament.name}}</a>
  <br>
  <b>Список игр:</b>
  <br>
  <span *ngFor="let game of games">
      <button [routerLink]="['/game', game.id]">{{game.id}}</button>
    </span>
  </div>
</div>

