<div class="showgame">
  <h2>Игра № {{game.id}}</h2>
  <br>
  <b>Номер матча: </b><a [routerLink]="['/match', game.matchId]">{{game.matchId}}</a>
  <br>
  <b>Очки первой команды: </b><a>{{game.points1}}</a>
  <br>
  <b>Очки второй команды: </b><a>{{game.points2}}</a>
  <br>
  <b>Лчший игрок в игре: </b><a [routerLink]="['/player', game.mvpId]">{{game.mvpId}}</a>
  <br>
  <b>Список раундов:</b>
  <br>
    <a *ngFor="let round of rounds">
      <b>Номер раунда: </b><a>{{round.id}}</a>
      <br>
      <i>Номер игры: </i><a [routerLink]="['/game', round.game_id]"><i>{{round.game_id}}</i></a>
      <br>
      <i>ID победителя: </i><a [routerLink]="['/team',round.winnerId]"><i>{{round.winnerId}}</i></a>
      <br>
    </a>
</div>
